<a href="{{ .Permalink }}" itemprop="url" class="content">
  {{ partial "commons/item/reference.html" . }}
  {{- $city := "jobs/item/city.html" -}}
  {{- if templates.Exists ( printf "partials/%s" $city ) }}
    {{ partial $city . }}
  {{ end -}}
  {{ partial "jobs/item/title.html" . }}
  {{- $jobs_categories := "jobs/item/jobs_categories.html" -}}
  {{- if templates.Exists ( printf "partials/%s" $jobs_categories ) }}
    {{ partial $jobs_categories . }}
  {{ end -}}
  {{ partial "jobs/item/more.html" . }}
</a>