{{- $hasCompanies := partial "func/HasTaxonomyAvailable.html" (dict "section" "jobs" "taxonomy" "jobs_companies") -}}
{{- $hasCategories := partial "func/HasTaxonomyAvailable.html" (dict "section" "jobs" "taxonomy" "jobs_categories") -}}
{{- $hasExpertises := partial "func/HasTaxonomyAvailable.html" (dict "section" "jobs" "taxonomy" "jobs_expertises") -}}
{{- $hasPlaces := partial "func/HasTaxonomyAvailable.html" (dict "section" "jobs" "taxonomy" "jobs_places") -}}
{{- $hasTags := partial "func/HasTaxonomyAvailable.html" (dict "section" "jobs" "taxonomy" "jobs_tags") -}}
{{- if or $hasCategories $hasCompanies $hasExpertises $hasPlaces $hasTags }}
  {{ partial "commons/filters.html" (dict "context" . "section" "jobs") }}
{{- end }}
