{{/*  Get Jobs  */}}
{{- $items := where site.RegularPages "Section" "jobs" -}}
{{/*  Exclude the current page  */}}
{{- $items = where $items "Date" "ne" .Date -}}
{{/*  In same expertises  */}}
{{- if isset .Params "jobs_expertises" -}}
  {{- $items = where $items "Params.jobs_expertises" "intersect" .Params.jobs_expertises -}}
{{- end }}

{{ if gt $items 0 }}
  {{/*  Get 3 lastest jobs and order by newest  */}}
  {{- $items = (first 3 $items).ByDate.Reverse -}}
  {{- $title := i18n "jobs.related.available" $items }}
  {{- partial "commons/related.html" (dict
    "section" "jobs"
    "pages" $items
    "title" $title
  ) -}}
{{ end }}
