.page-jobs
    .hero-content
        @extend .col-md-8
        @extend .col-xl-7
    .metas
        --bs-alert-border-color: #{$border-color}
        --bs-alert-bg: #{$light}
        @extend .alert
        @if variable-exists(icons-map)
            &-places span::before
                @include icon("geo-alt")
                font-size: 1rem
                margin-right: .25rem
                vertical-align: -0.15em
    .place
        --bs-alert-border-color: #{$border-color}
        --bs-alert-bg: #{$light}
        --bs-alert-padding-y: 0
        @extend .alert
    .job-form
        @include margin-top($global-spacing)

    .container + section
        @include margin-top($global-spacing-double)

    @include media-breakpoint-up(md)
        .grid
            grid-template-rows: auto auto auto 1fr
        .grid >
            .metas
                grid-column: 1/9
                grid-row: 2
                margin-bottom: $global-spacing
            .content
                grid-row: 3 / 5
            .sidebar
                grid-row: 2 / span 2
            .toc
                grid-row: auto / span 2
            .job-form
                grid-column: 1/9
                grid-row: auto
                    
    @include media-breakpoint-down(md)
        .reference + p,
        .metas-places
            margin-top: .25rem
        .grid >
            .metas
                order: 2
            .content
                order: 4
            .sidebar
                order: 5
            .toc
                order: 3
                margin-bottom: $spacer
            .job-form
                order: 6
            nav
                order: 7
            
